<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a
        href="https://github.com/armaan941"
        style="text-decoration: none; color: black"
        target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/armaan941/"
        style="text-decoration: none; color: black"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i> <i class="fa-brands"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WanderLust By Armaan</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>&nbsp;&nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
